/*@mixin filter($name) {
	-webkit-filter: $name;
	-moz-filter: $name;
	-ms-filter: $name;
	-o-filter: $name;
	filter: $name;
}*/
/*@include keyframes(color)
{
	from {
		@include filter(grayscale(100%));
	}
	to {
		@include filter(grayscale(0%));
	}
}*/
.info_page {
  font-family: pingfangsc; }
@-webkit-keyframes left {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -150px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: -230px; } }
@-moz-keyframes left {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -150px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: -230px; } }
@-o-keyframes left {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -150px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: -230px; } }
@keyframes left {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -150px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: -230px; } }
@-webkit-keyframes left1 {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -100px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: -180px; } }
@-moz-keyframes left1 {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -100px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: -180px; } }
@-o-keyframes left1 {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -100px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: -180px; } }
@keyframes left1 {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -100px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: -180px; } }
@-webkit-keyframes right {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -50px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: 30px; } }
@-moz-keyframes right {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -50px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: 30px; } }
@-o-keyframes right {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -50px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: 30px; } }
@keyframes right {
  from {
    /*@include filter(grayscale(100%));*/
    margin-left: -50px; }
  to {
    /*@include filter(grayscale(0%));*/
    margin-left: 30px; } }
.info_page {
  overflow-x: hidden; }
  .info_page hr {
    height: 12px;
    background-color: #f2f2f3;
    margin: 0; }
  .info_page .info_list {
    padding: 50px 0; }
    .info_page .info_list .col-sm-6 {
      padding: 0; }
      .info_page .info_list .col-sm-6:nth-child(odd) {
        padding-left: 15px; }
      .info_page .info_list .col-sm-6:nth-child(even) {
        padding-right: 15px; }
      .info_page .info_list .col-sm-6 a {
        display: inline-block;
        text-align: start;
        position: relative;
        width: 100%; }
        .info_page .info_list .col-sm-6 a img {
          width: auto;
          height: auto;
          /*@include filter(grayscale(100%));*/ }
        .info_page .info_list .col-sm-6 a p {
          font-size: 16px;
          color: #000;
          margin-top: 25px; }
        .info_page .info_list .col-sm-6 a:hover, .info_page .info_list .col-sm-6 a:focus, .info_page .info_list .col-sm-6 a:active {
          text-decoration: none; }
          .info_page .info_list .col-sm-6 a:hover img, .info_page .info_list .col-sm-6 a:focus img, .info_page .info_list .col-sm-6 a:active img {
            animation: color 0.8s;
            animation-fill-mode: forwards; }
    .info_page .info_list .row {
      padding-bottom: 100px; }
      .info_page .info_list .row .dec, .info_page .info_list .row .dec1 {
        position: absolute;
        display: inline-block; }
      .info_page .info_list .row .section1 img, .info_page .info_list .row .section4 img {
        max-height: 380px; }
      .info_page .info_list .row .section1 .dec:nth-child(1), .info_page .info_list .row .section4 .dec:nth-child(1) {
        bottom: 120px;
        right: -60px;
        z-index: 1; }
      .info_page .info_list .row .section1 .dec:nth-child(2), .info_page .info_list .row .section4 .dec:nth-child(2) {
        bottom: 0px;
        right: 5px; }
      .info_page .info_list .row .section1 .dec:nth-child(3), .info_page .info_list .row .section4 .dec:nth-child(3) {
        bottom: -35px; }
      .info_page .info_list .row .section2, .info_page .info_list .row .section5 {
        text-align: center; }
        .info_page .info_list .row .section2 p, .info_page .info_list .row .section5 p {
          margin-top: 405px;
          padding-left: 50%;
          margin-left: -50px; }
        .info_page .info_list .row .section2 a:hover img:first-of-type, .info_page .info_list .row .section5 a:hover img:first-of-type, .info_page .info_list .row .section2 a:focus img:first-of-type, .info_page .info_list .row .section5 a:focus img:first-of-type, .info_page .info_list .row .section2 a:active img:first-of-type, .info_page .info_list .row .section5 a:active img:first-of-type {
          animation: left 0.8s;
          animation-fill-mode: forwards; }
        .info_page .info_list .row .section2 a:hover img:last-of-type, .info_page .info_list .row .section5 a:hover img:last-of-type, .info_page .info_list .row .section2 a:focus img:last-of-type, .info_page .info_list .row .section5 a:focus img:last-of-type, .info_page .info_list .row .section2 a:active img:last-of-type, .info_page .info_list .row .section5 a:active img:last-of-type {
          animation: right 0.8s;
          animation-fill-mode: forwards; }
        .info_page .info_list .row .section2 img, .info_page .info_list .row .section5 img {
          position: absolute;
          max-height: 290px;
          left: 50%; }
          .info_page .info_list .row .section2 img:first-of-type, .info_page .info_list .row .section5 img:first-of-type {
            margin-left: -150px;
            max-height: 280px; }
          .info_page .info_list .row .section2 img:last-of-type, .info_page .info_list .row .section5 img:last-of-type {
            margin-left: -50px;
            top: 90px; }
      .info_page .info_list .row .section3 img, .info_page .info_list .row .section6 img {
        display: inline-block;
        margin-right: 20px;
        max-height: 320px;
        max-width: 240px; }
      .info_page .info_list .row .section3 .dec, .info_page .info_list .row .section6 .dec {
        bottom: -35px; }
      .info_page .info_list .row .section4 {
        text-align: right; }
        .info_page .info_list .row .section4 a {
          text-align: right; }
        .info_page .info_list .row .section4 img {
          margin-top: 100px; }
        .info_page .info_list .row .section4 .dec:nth-child(1) {
          right: 10px;
          bottom: -40px; }
        .info_page .info_list .row .section4 .dec1 {
          right: -16%;
          top: 35%;
          z-index: 1; }
      .info_page .info_list .row .section5 a {
        position: absolute;
        left: 0;
        top: -90px; }
        .info_page .info_list .row .section5 a p {
          margin-left: -150px; }
      .info_page .info_list .row .section5 .dec:nth-child(1) {
        top: -10px;
        left: 0;
        z-index: 1; }
      .info_page .info_list .row .section5 .dec1:nth-child(1) {
        top: -150px;
        left: 40%; }
      .info_page .info_list .row .section5 .dec1:nth-child(2) {
        top: -50px;
        left: 78%; }
      .info_page .info_list .row .section5 .dec1:nth-child(3) {
        top: 380px;
        left: 10%; }
      .info_page .info_list .row .section6 {
        text-align: right; }
        .info_page .info_list .row .section6 a {
          text-align: right; }
        .info_page .info_list .row .section6 img {
          margin: 0 0 0 20px; }
        .info_page .info_list .row .section6 .dec:nth-child(1) {
          right: 0;
          top: 58%;
          z-index: 1; }
        .info_page .info_list .row .section6 .dec:nth-child(2) {
          left: 50px;
          bottom: -60px; }
        .info_page .info_list .row .section6 .dec1:nth-child(1) {
          bottom: 25%;
          z-index: 1; }
        .info_page .info_list .row .section6 .dec1:nth-child(2) {
          left: 10%;
          bottom: -10px; }
      @media (max-width: 1200px) {
        .info_page .info_list .row .section1 img, .info_page .info_list .row .section4 img {
          max-height: 320px; }
        .info_page .info_list .row .section2 img, .info_page .info_list .row .section5 img {
          max-height: 270px; }
          .info_page .info_list .row .section2 img:first-of-type, .info_page .info_list .row .section5 img:first-of-type {
            max-height: 260px; }
          .info_page .info_list .row .section2 img:last-of-type, .info_page .info_list .row .section5 img:last-of-type {
            top: 60px; }
        .info_page .info_list .row .section2 p, .info_page .info_list .row .section5 p {
          margin-top: 345px; }
        .info_page .info_list .row .section3 img, .info_page .info_list .row .section6 img {
          max-height: 260px;
          max-width: 220px; }
        .info_page .info_list .row .section5 a {
          top: -60px; } }
      @media (max-width: 991px) {
        .info_page .info_list .row .section1 img, .info_page .info_list .row .section4 img {
          max-height: 240px; }
        .info_page .info_list .row .section2 img, .info_page .info_list .row .section5 img {
          max-height: 230px; }
          .info_page .info_list .row .section2 img:first-of-type, .info_page .info_list .row .section5 img:first-of-type {
            margin-left: -100px;
            max-height: 220px; }
          .info_page .info_list .row .section2 img:last-of-type, .info_page .info_list .row .section5 img:last-of-type {
            margin-left: -50px;
            top: 20px; }
        .info_page .info_list .row .section2 a:hover img:first-of-type, .info_page .info_list .row .section5 a:hover img:first-of-type, .info_page .info_list .row .section2 a:focus img:first-of-type, .info_page .info_list .row .section5 a:focus img:first-of-type, .info_page .info_list .row .section2 a:active img:first-of-type, .info_page .info_list .row .section5 a:active img:first-of-type {
          animation: left1 0.8s;
          animation-fill-mode: forwards; }
        .info_page .info_list .row .section2 p, .info_page .info_list .row .section5 p {
          margin-left: -50px;
          margin-top: 265px; }
        .info_page .info_list .row .section3 img, .info_page .info_list .row .section6 img {
          max-height: 260px;
          max-width: 165px; }
        .info_page .info_list .row .section5 a {
          top: -40px; } }
  .info_page .info_cover {
    position: absolute;
    top: 82px;
    width: 100%; }
    .info_page .info_cover .container {
      position: relative;
      padding: 0; }
      .info_page .info_cover .container img {
        display: block;
        z-index: 2; }
        .info_page .info_cover .container img:nth-child(1) {
          margin-top: 320px;
          padding-left: 50%;
          margin-left: -120px; }
        .info_page .info_cover .container img:nth-child(2) {
          margin-top: 85px;
          padding-left: 50%;
          margin-left: -40px; }
        .info_page .info_cover .container img:nth-child(3) {
          margin-top: 15px; }
        .info_page .info_cover .container img:nth-child(4) {
          margin-top: 600px;
          padding-left: 100%;
          margin-left: -20px; }
        .info_page .info_cover .container img:nth-child(5) {
          margin-top: 100px; }
  .info_page .to_top {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 3;
    cursor: pointer; }

  .info_page .copyright_section img {
   display:none }
    
  .info_page .copyright_section p {
    text-align: center;
    font-size: 12px;
    padding: 30px 0 26px;
    margin: 0; }

/*# sourceMappingURL=info.css.map */
