@charset "UTF-8";
@font-face {
  font-family: "Apple Chancery";
  src: url("/assets/fonts/apple_chancery.ttf") format("truetype"); }
@font-face {
  font-family: "pingfangsc";
  src: url("/assets/fonts/pingfangsc.ttf") format("truetype"); }
body {
  font-family: "pingfangsc"; 
  padding-top: 70px;  
}

#public_navbar {
  background-color: #fff;
  height: 70px;
  font-family: "Apple Chancery";
  font-size: 17px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999; }
  #public_navbar .container {
    padding: 0; }
  #public_navbar img {
    padding: 13px 0;
    height: 70px; }
  #public_navbar .navbar-nav a {
    font-size: 16px;
    line-height: 70px;
    padding: 0 15px;
    color: #2e2e2e;
    text-align: center;
    cursor: pointer; }
    #public_navbar .navbar-nav a span {
      display: inline-block;
      line-height: 27px;
      padding: 0 4px;
      font-size: 17px; }
    #public_navbar .navbar-nav a:hover, #public_navbar .navbar-nav a:focus, #public_navbar .navbar-nav a.active {
      color: #8094CC;
      background-color: #fff; }
      #public_navbar .navbar-nav a:hover span, #public_navbar .navbar-nav a:focus span, #public_navbar .navbar-nav a.active span {
        border-bottom: 3px solid #8094CC; }
  #public_navbar .user_center_nav {
    /*display: none;*/
    position: relative; }
    #public_navbar .user_center_nav:hover .userCenterModal {
      display: block; }
  #public_navbar .userCenterModal {
    position: absolute;
    left: -40px;
    width: 126px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.29);
    border-radius: 3px;
    z-index: 1; }
    #public_navbar .userCenterModal a {
      display: inline-block;
      line-height: 35px;
      width: 100%;
      font-size: 14px;
      text-align: start;
      cursor: pointer;
      position: relative;
      z-index: 2; }
      #public_navbar .userCenterModal a img {
        position: relative;
        top: -1px;
        width: 20px;
        height: 20px;
        padding: 0;
        margin-right: 7px; }
      #public_navbar .userCenterModal a:hover, #public_navbar .userCenterModal a:focus {
        background-color: #8094CC;
        color: #2e2e2e;
        text-decoration: none; }
    #public_navbar .userCenterModal .arrow {
      position: absolute;
      left: 72%;
      top: -9px;
      width: 18px;
      height: 18px;
      background-color: #fff;
      box-shadow: -2px -2px 4px -3px rgba(0, 0, 0, 0.29);
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      /* IE 9 */
      -moz-transform: rotate(45deg);
      /* Firefox */
      -webkit-transform: rotate(45deg);
      /* Safari 和 Chrome */
      -o-transform: rotate(45deg);
      /* Opera */ }
  #public_navbar .login_nav {
    margin-left: 34px; }
    #public_navbar .login_nav li a {
      cursor: pointer;
      color: #F09077;
      padding: 0;
      width: 50px;
      text-align: center; }
      #public_navbar .login_nav li a span {
        line-height: 15px;
        border-right: 2px solid #979797;
        width: 50px; }
      #public_navbar .login_nav li a:hover, #public_navbar .login_nav li a:focus {
        color: #F09077; }
        #public_navbar .login_nav li a:hover span, #public_navbar .login_nav li a:focus span {
          border-bottom: none; }

.myModal .modal-dialog {
  text-align: center; }
  .myModal .modal-dialog .modal-content {
    display: inline-block;
    width: 560px;
    text-align: center; }
    .myModal .modal-dialog .modal-content .modal-header {
      border: none;
      padding: 24px 24px 10px; }
      .myModal .modal-dialog .modal-content .modal-header button {
        height: 16px; }
    .myModal .modal-dialog .modal-content .modal-body {
      padding: 0 92px 50px; }
      .myModal .modal-dialog .modal-content .modal-body img {
        width: 175px; }
      .myModal .modal-dialog .modal-content .modal-body .title {
        margin: 40px 0 34px;
        font-size: 18px;
        color: #2E2E2E; }
      .myModal .modal-dialog .modal-content .modal-body form {
        margin-bottom: 36px;
        /* firefox 19+ */
        /* ie */ }
        .myModal .modal-dialog .modal-content .modal-body form button, .myModal .modal-dialog .modal-content .modal-body form input {
          width: 100%;
          margin-top: 24px; }
        .myModal .modal-dialog .modal-content .modal-body form input:-moz-placeholder {
          color: #b4b4b4; }
        .myModal .modal-dialog .modal-content .modal-body form ::-webkit-input-placeholder {
          color: #b4b4b4; }
        .myModal .modal-dialog .modal-content .modal-body form ::-moz-placeholder {
          color: #b4b4b4; }
        .myModal .modal-dialog .modal-content .modal-body form :-ms-input-placeholder {
          color: #b4b4b4; }
        .myModal .modal-dialog .modal-content .modal-body form input {
          background-color: #f8f8f8;
          line-height: 16px;
          padding: 11px 24px;
          font-size: 16px;
          color: #2e2e2e;
          height: 40px; }
        .myModal .modal-dialog .modal-content .modal-body form .form-control:focus {
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 148, 204, 0.6); }
        .myModal .modal-dialog .modal-content .modal-body form button {
          background-color: #8094CC;
          color: #fff;
          line-height: 38px;
          padding: 0;
          font-size: 20px; }
          .myModal .modal-dialog .modal-content .modal-body form button.btn-default {
            border: none; }
          .myModal .modal-dialog .modal-content .modal-body form button:focus {
            outline: none; }
          .myModal .modal-dialog .modal-content .modal-body form button:hover {
            background-color: #59678e;
            color: #e9eaed; }
        .myModal .modal-dialog .modal-content .modal-body form button[disabled]:hover {
          background-color: #8094CC;
          color: #fff; }
      .myModal .modal-dialog .modal-content .modal-body .left_btn {
        cursor: pointer;
        float: left;
        font-size: 16px;
        color: #575757; }
      .myModal .modal-dialog .modal-content .modal-body .right_btn {
        cursor: pointer;
        float: right;
        font-size: 16px;
        color: #8094CC; }

#loginModal {
  top: 50%;
  margin-top: -280px; }

#registerModal, #forgetModal {
  top: 50%;
  margin-top: -320px; }
  #registerModal .v_code input, #forgetModal .v_code input {
    display: inline-block;
    width: 224px; }
  #registerModal .v_code button, #forgetModal .v_code button {
    font-size: 16px;
    color: #FFFFFF;
    width: 132px;
    margin-top: 0;
    margin-left: 12px;
    position: relative;
    top: -2px;
    line-height: 40px;
    border: none; }
    #registerModal .v_code button #count, #forgetModal .v_code button #count {
      position: relative;
      top: 1px;
      right: 3px; }
    #registerModal .v_code button.sending, #forgetModal .v_code button.sending {
      background: #A7A7AE;
      color: #fff; }

#registerSuccessModal {
  top: 50%;
  margin-top: -290px; }
  #registerSuccessModal .modal-body p {
    font-size: 18px;
    color: #575757;
    text-align: start;
    margin-bottom: 90px; }
  #registerSuccessModal .modal-body .title {
    font-size: 22px;
    color: #8094CC;
    margin-bottom: 30px;
    text-align: center; }
  #registerSuccessModal .skip_btn {
    color: #b4b4b4;
    cursor: pointer;
    position: absolute;
    right: 24px;
    bottom: 24px; }

#forgetModal .title {
  text-align: start; }

.comment_block {
  background-color: #fff;
  border-radius: 4px;
  padding-bottom: 45px; }
  .comment_block .comment_heading {
    border-bottom: 1px solid #ccc;
    padding: 30px 50px 40px; }
    .comment_block .comment_heading p {
      font-size: 16px;
      color: #575757; }
      .comment_block .comment_heading p a {
        color: #8094CC;
        cursor: pointer; }
      .comment_block .comment_heading p.comment_title {
        font-size: 20px;
        color: #262626;
        margin-bottom: 25px; }
    .comment_block .comment_heading .comment_form {
      position: relative;
      clear: both;
      padding-left: 76px; }
      .comment_block .comment_heading .comment_form img {
        max-width: 54px;
        max-height: 54px;
        position: absolute;
        top: 0;
        left: 0; }
      .comment_block .comment_heading .comment_form textarea {
        appearance: none;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari 和 Chrome */
        border: 1px solid #8094CC;
        border-radius: 4px;
        font-size: 16px;
        width: 100%; }
        .comment_block .comment_heading .comment_form textarea:focus {
          outline-color: #8094CC; }
      .comment_block .comment_heading .comment_form button {
        color: #fff;
        background-color: #8094CC;
        font-size: 16px;
        float: right;
        margin-top: 20px; }
  .comment_block .comment_body .comment_line {
    position: relative;
    padding: 28px 50px; }
    .comment_block .comment_body .comment_line img {
      max-width: 54px;
      max-height: 54px;
      position: absolute;
      top: 28px;
      left: 50px; }
    .comment_block .comment_body .comment_line .right {
      margin-left: 76px; }
      .comment_block .comment_body .comment_line .right .user_name {
        font-size: 18px;
        color: #262626;
        line-height: 26px; }
      .comment_block .comment_body .comment_line .right .time {
        font-size: 12px;
        color: #575757;
        line-height: 26px;
        display: inline-block;
        margin-left: 8px; }
      .comment_block .comment_body .comment_line .right p {
        margin-bottom: 0; }
    .comment_block .comment_body .comment_line:hover {
      background-color: rgba(128, 148, 204, 0.07); }
  .comment_block .see_more {
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #8094CC;
    padding-top: 45px; }
    .comment_block .see_more span {
      display: inline-block;
      position: relative;
      top: 2px;
      left: 6px; }

#paySuccessModal {
	top: 50px;
}
#paySuccessModal img {
  margin-bottom: 40px; }
#paySuccessModal p {
  font-size: 18px;
  color: #575757;
  text-align: start;
  margin-bottom: 14px; }

#payFailedModal img {
  margin-bottom: 40px; }
#payFailedModal p {
  text-align: start;
  font-size: 18px;
  color: #575757; }
  #payFailedModal p:last-of-type {
    font-size: 16px;
    margin-bottom: 45px; }
  #payFailedModal p img {
    height: 24px;
    width: 24px;
    margin-bottom: 0;
    margin-right: 12px; }
#payFailedModal .modal-body {
  padding: 0 30px 40px 40px; }
#payFailedModal .confirm_btn {
  background-color: #8094CC;
  border-color: #8094CC;
  color: #fff;
  width: 110px;
  float: right; }

#weixinModal .modal-dialog {
  width: auto; }
#weixinModal .modal-content {
  width: auto; }
#weixinModal .modal-body {
  padding: 0 50px 80px; }
#weixinModal h3 {
  text-align: start;
  font-size: 22px;
  color: #575757;
  margin: 0 0 24px; }
#weixinModal p {
  font-size: 12px;
  color: #575757;
  margin-top: 20px; }
#weixinModal .scan {
  height: 33px;
  width: 33px;
  margin: 40px 0; }
#weixinModal .font {
  display: inline-block;
  text-align: start;
  position: relative;
  top: 10px;
  margin-left: 20px; }
#weixinModal .example_img {
  height: 400px;
  width: auto; }
#weixinModal .col-xs-6 {
  padding: 0 20px; }
#weixinModal #qr_code {
  display: inline-block;
  width: 240px;
  height: 240px;
  padding: 16px;
  border: 1px solid #8094CC; }
/*# sourceMappingURL=common.css.map */
