#set($title = $!{page.title})
#set($description = $!{page.description})
#set($keywords = $!{page.keywords})
#parse("common/layout/head.vm")
<body class="info_page">
#parse("common/layout/header.vm")
    <hr>

    <div class="container info_list" id="info_list">
		#foreach($mainBanner in $!{cmsPage.moduleMap.get("头图")})
			#if($!{StringUtils.isNotBlank($!{mainBanner.recordMap.get("图片地址").value})})
    		<img src="$!{mainBanner.recordMap.get("图片地址").value}" width="100%" style="margin-bottom: 45px;">
			#end
		#end
			
        <div id="scroll_content">
		#parse("page/brick/infoListBrick.vm")
		</div>
    </div>
	
    <img class="to_top" src="$gv_imgRoot/to_top.png">
		
	#parse("common/layout/footer.vm")
	#parse("common/layout/foot.vm")
    <script type="text/javascript" src="$gv_jsRoot/page/info.js"></script>
</body>
</html>