<div class="info_part clearfix">
	#foreach($collectedNews in $!{collectedNewses})
    <!-- 添加删除遮罩层 -->
    <div class="col-sm-4">
        <a href="#" class="vedio">
            <div class="delete_cover">
                <div id="info_delete" class="delete_btn" data-url="/api/topic/uncollect" data-id="$!{collectedNews.id}" >
                    <img src="$gv_imgRoot/info_delete.png"/>
                    <span>删除</span>
                </div>
            </div>
            <img width="350" src="#if($!{collectedNews.images.size()} > 0)$!{collectedNews.images.get(0).imagePath}#end"/>
            <p><span>$!{collectedNews.id}</span></p>
        </a>
    </div>
	#end
</div>